body {
 text-align: center;
 background-color: rgb(173, 201, 170);
 width: 70%;
 margin: auto;
 
}
header, .wrapper-2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
.wrapper-2{
  text-align: center;
}
.wrapper-image{
  width: 250px;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px rgb(108, 105, 105);
  
}
h1, .para{
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 1px rgb(217, 150, 150);
}

form {
  width: 99%;
  border-radius: 15px;
  border: 1px solid black;
  margin: auto;
}

form input {
  margin: 20px;
  width: 70%;
  background-color: rgb(173, 201, 170);
  font-size: 20px;
  border: none;
  outline: none;
}

.btn {
text-align: left;
width: 70%;
}
.btn input{
  background-color: rgb(173, 201, 170);
  border-radius: 10px;
  border: 1px solid black;
  width: 300px;
  padding: 5px;
  font-size: 18px;
  margin: 10px;
}
.btn button{
  background-color: rgb(112, 159, 106);
  border-radius: 10px;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  padding: 5px;
  font-size: 18px;
  margin: 10px;
}
.para{
  font-size: 35px;
}

.my-products {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: flex-start;
  padding-left: 30px;
}
.my-products-list {
  background-color: rgb(157, 190, 153);
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}
.my-products-list-list{
  margin-top: 5px;
}
.my-products-list-image{
  width: 150px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px){
  body {
    width: 90%;
   }
   header, .wrapper-2{
     flex-direction: column;
   }
   .wrapper-2{
    width: 70%;
    margin: auto;
    padding-top: 40px;
   }
   .wrapper-image{
     width: 200px;  
   }
   h1, .para{
     font-size: 40px;
   }
   
   form {
     width: 99%;
     height: 50px;
     margin: auto;
   }
   
   form input {
     margin: 10px;
     width: 70%;
     font-size: 20px;
   }
   
   .btn {
   text-align: left;
   width: 90%;
   }
   .btn input{
     width: 250px;
     padding: 5px;
     font-size: 18px;
     margin: 10px;
   }
   .para{
     font-size: 35px;
   }
   
   .my-products {
     padding-left: 5px;
     width: 99%;
   }
   .my-products-list {
     width: 150px;
     margin: 5px;
   }
   .my-products-list-image{
    width: 130px;
    height: 80px;
  }
   
}